body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  background-color: white;
}

.building_background {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

a {
  color: white;
  font-size: 18px;
}

ul {
  list-style: none;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.footer{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
